@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@keyframes HintBack {
    0% {background-color: deepskyblue; }
    25%{background-color: green;}
    50%{background-color: rgb(170, 170, 32);}
    75%{background-color: rgb(236, 109, 5);}
    100%{background-color: deepskyblue;}

}

@keyframes WakeText {
    0% {color: red; }   
    50%{color: yellow;}
    100%{color: red;}

}

body{
    background-color: black;
    color: white;

}

.Hint{
    animation: HintBack;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

p{
    font-family: 'Abril Fatface', cursive;
    font-size: 50pt;
    margin-left: 10px;
    width: 1000px;
    height: 20px;
    float: right;
    position: relative;
    padding-bottom: 100px;

}

.Now{
    padding-bottom: 0px;
}

a{
    color: greenyellow;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 50pt;
    text-align: left;
}


a:hover{
    color: blueviolet;
}

.hintReturn{
    float: left;
    margin-left: 375px;
}

.Door1{
    float: left;
    
    width: 100px;
    height: 400px;
    margin-top: -100px;
}

.Door2{
    float: left;
    background-color: purple;
    width: 100px;
    height: 400px;
    margin-top: -100px;
}

.Door3{
    float: left;
    
    width: 100px;
    height: 400px;
    margin-top: -100px;

}

.DoorLink1{
    
    background-color: red;
}

.DoorLink1:hover{
    background-color: rgb(236, 109, 5);
}

.Choice{
    margin-top: 100px;
    float: left;
}

h1{
    color: red;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 200pt;
    /*height: 100px;*/
    float: left;
}

.WakeUp{
    animation: WakeText;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.RedBox{
    background-color: red;
    width: 200px;
    height: 200px;
    margin-left: 400px;
    margin-bottom: 50px;
    float: left;
}

.BlueBox{
    background-color: deepskyblue;
    width: 200px;
    height: 200px;
    margin-right: 400px;
    margin-bottom: 50px;
    float: right;
}

.Hint1{
    color: red;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 200pt;
}

.Pass1{
    float: left;
    padding-left: 50px;
    margin-top: 100px;
   /* margin-bottom: 300px; */
}

.Fail1{
    float: right;
    padding-right: 50px;
    margin-top: 45px;
    
}

.homeLink{
    float: left;
    padding-left: 800px;
}